---
title: home
page: home
hero: {
  bg: 'bg-hero-home.jpg',
  title: '<small>Innovative solutions</small> for Media Businesses',
  subttl: 'We create smart and reliable systems that save time, money, space and human resources for TV, 
sports and new media platforms. We work fast and take pride in our reputation in systems 
integration business.',
  scroll: true,
  showreel: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-solutions.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-works.html" %}
  {% include "partials/sections/_s-about.html" %}
  {% include "partials/sections/_s-partners.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
