---
title: tv
page: tv
hero: {
  bg: 'bg-hero-tv.jpg',
  title: 'TV',
  subttl: "Technologies for broadcasting is our passion and expertise. We create channels from scratch
and know how to connect legacy equipment with future-minded solutions.",
  scroll: true
}
sectionWorks: {
  mod: 'pt-lg'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-offer.html" %}
  {% include "partials/sections/_s-achieve.html" %}
  {% include "partials/sections/_s-works.html" %}
  {% include "partials/sections/_s-partners.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
