<!-- begin features -->
<div class="features{% if features.mod %} {{ features.mod }}{% endif %} js-stagger-wrap">
  {% for i in features.list or features %}
  <div class="features__item js-stagger-el">
    {% if i.icon %}
    <!-- begin feature -->
    <div class="feature{% if i.mod %} {{ i.mod }}{% endif %}">
      <div class="feature__icon">
        {{ mixins.icon(i.icon) }}
      </div>

      <div class="feature__title">
        {% if i.title.simple %}
        {{ i.title.simple | safe }}
        {% else %}
        <h5 class="title title--h5">{{ i.title | safe }}</h5>
        {% endif %}        
      </div>

      {% if i.text %}
      <div class="feature__text">{{ i.text | safe }}</div>
      {% endif %}
    </div>
    <!-- end feature -->
    {% endif %}

    {% if features.achieve %}
    <!-- begin achieve -->
    <div class="achieve js-lazy" data-background-image="./img/{{ i.img }}">
      <div class="achieve__content">
        <div class="achieve__nmb">{{ i.nmb }}</div>
        <div class="achieve__title">
          <h5 class="title title--h5">{{ i.title | safe }}</h5>
        </div>
      </div>
    </div>
    <!-- end achieve -->
    {% endif %}
  </div>
  {% endfor %}
</div>
<!-- end features -->