<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__left">
          <div class="footer__logo">
            <img class="js-lazy" alt="" src="" data-src="./img/Logo-black.png"/>
          </div>

          <div class="footer__text">Innovative systems integration <br>
for your media business</div>
        </div>

        <div class="footer__middle">
          <div class="footer__nav">
            {{ mixins.list(
              name = 'nav',
              modifications = { wrap: 'nav--footer', item: '', link: '' },
              list = [
                { link: 'About' },
                { link: 'Solutions' },
                { link: 'Installations' },
                { link: 'Contacts' }
              ]
            ) }}
          </div>
          <div class="footer__social">
            {% include "partials/_social.html" %}
          </div>
        </div>

        <div class="footer__contacts">
          {{ mixins.list(
            name = 'contacts-sm',
            modifications = { wrap: '', item: '', link: '' },
            list = [
              { link: 'visionhouse@gmail.com' +  mixins.icon('new-email-envelope') , href: 'mailto:visionhouse@gmail.com' },
              { link: '+1 551-553-1215' +  mixins.icon('call-answer') , href: 'tel:+15515531215' }
            ]
          ) }}
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__copy">&copy; 2019. Vision House. All rights reserved</div>

        <div class="footer__auth">
          <div class="footer__auth-icon">{{ mixins.icon('D') }}</div>
          <div class="footer__auth-title">Developed by <a href="#">Demiweb International</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->