<!-- begin hero -->
<section class="hero{% if hero.mod  %} {{ hero.mod }}{% endif %}">
  {% if hero.bg %}
    <div class="hero__bg js-lazy" data-background-image="./img/hero/{{ hero.bg }}"></div>
  {% endif %}

  <div class="hero__top">
    <div class="container">
      <div class="hero__phone">
        <a href="tel:+15515531215">+1 551-553-1215</a>
      </div>
    </div>
  </div>

  {% if hero.showreel %}
  {# <div class="hero__show-btn"> #}
    {% set showBtn = { mod: 'hero__show-btn' } %}
    {% include "partials/_show-btn.html" %}
    
  {# </div> #}
  {% endif %}

  <div class="hero__block">
    <!-- begin hero-block -->
    <div class="hero-block">
      {% if hero.title %}
        <div class="hero-block__title js-anim-el" data-anim-name="fadeInUp">
          <h1 class="title title--h2">{{ hero.title | safe }}</h1>
        </div>
      {% endif %}

      {% if hero.subttl %}
      <div class="hero-block__subttl js-anim-el" data-anim-name="fadeInUp" data-anim-delay="200">{{ hero.subttl | safe }}</div>
      {% endif %}

      {% if hero.scroll %}
      <div class="hero-block__scroll js-anim-el" data-anim-name="fadeInUp" data-anim-delay="400">
        <!-- begin scroll-down -->
        <button class="scroll-down js-scroll-down">
          <span class="scroll-down__title">discover more</span>
          <span class="scroll-down__arrow"><span></span></span>
        </button>
        <!-- end scroll-down -->
      </div>
      {% endif %}
    </div>
    <!-- end hero-block -->
  </div>  
</section>
<!-- end hero -->