<!-- begin section -->
<section class="section section--black-light">
  <div class="container">
    <!-- begin info-page -->
    <div class="info-page">
      <div class="info-page__left">
        {{ mixins.textBlock(
          title = { title: infoSection.title, mod: 'title--accent' },
          text = [
            { text: infoSection.text }
          ],
          button = {
            title: 'go back home',
            mod: 'btn--inherit'
          }
        ) }}
      </div>
      
      {% if infoSection.img %}
      <div class="info-page__right">
        <img class="js-lazy" alt="" src="" width="{{ infoSection.img.width }}" height="{{ infoSection.img.height }}" data-src="./img/{{ infoSection.img.src or infoSection.img }}"/>
      </div>
      {% endif %}
    </div>
    <!-- end info-page -->
  </div>
</section>
<!-- end section -->