<!-- begin projects -->
<div class="projects">
  {% for i in projects.list or projects %}
  {# <div class="projects__item"> #}
    <!-- begin project -->
    <div class="project{% if i.mod %} {{ i.mod }}{% endif %}">
      <div class="project__left">
        <div class="container">
          <div class="project__content">
            {{ mixins.textBlock(
              blockLabel = i.label,
              title = { title: i.title },
              text = [
                { text: i.text }
              ],
              button = {
                title: i.btn.title,
                mod: i.btn.mod
              }
            ) }}

          </div>
        </div>
      </div>

      <div class="project__right">
        <div class="project__img no-fade-in js-anim-el js-lazy" data-anim-name="{% if i.mod === 'project--reverse' %}fadeInRightLg{% else %}fadeInLeftLg{% endif %}" data-background-image="./img/{{ i.img }}"></div>
      </div>
    </div>
    <!-- end project -->

{#   </div>  
 #}  {% endfor %}
</div>
<!-- end projects -->