<!-- begin projects -->
<div class="projects">
  {% for i in projects.list or projects %}
  {# <div class="projects__item"> #}
    <!-- begin project -->
    <div class="project{% if i.mod %} {{ i.mod }}{% endif %}">
      <div class="project__left">
        <div class="container">
          <div class="project__content">
            <!-- begin text-block -->
            <div class="text-block">
              {% if i.label %}
              <div class="text-block__label">
                {{ mixins.label(i.label) }}
              </div>
              {% endif %}
              
              {% if i.title %}
              <div class="text-block__title">
                <h2 class="title title--h2">{{ i.title | safe }}</h2>
              </div>
              {% endif %}

              {% if i.text %}
              <div class="text-block__text">{{ i.text | safe }}</div>
              {% endif %}

              {% if i.btn %}
              <div class="text-block__btn">
                {{ mixins.btn(
                  title = i.btn.title,
                  mod = i.btn.mod,
                  combine = true
                ) }}
              </div>
              {% endif %}
            </div>
            <!-- end text-block -->
          </div>
        </div>
      </div>

      <div class="project__right">
        <div class="project__img js-lazy" data-background-image="./img/{{ i.img }}"></div>
      </div>
    </div>
    <!-- end project -->

{#   </div>  
 #}  {% endfor %}
</div>
<!-- end projects -->