{%set
features = {
  achieve: true,
  list: [
    {
      img: 'undraw_mind_map_cwng.svg',
      nmb: '01',
      title: '<small>Future proof</small> infrastructures '
    },
    {
      img: 'undraw_selecting_1lx3.svg',
      nmb: '02',
      title: '<small>Efficient</small> workflows'
    },
    {
      img: 'undraw_note_list_etto.svg',
      nmb: '03',
      title: '<small>Smart</small> facilities'
    },
    {
      img: 'undraw_solution_mindset_34bi.svg',
      nmb: '04',
      title: '<small>Excellent</small> service'
    },
    {
      img: 'undraw_design_thinking_x8f6.svg',
      nmb: '05',
      title: '<small>New</small> opportunities'
    }
  ]
}
%}

<!-- begin section -->
<section class="section section--gray-lightest pt-mdl pb-mdl">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2"><small>With our projects</small> you achieve</h2>
    </div>

    {% include "partials/_features.html" %}
  </div>
</section>
<!-- end section -->