<!-- begin section -->
<section class="section s-about">
  <div class="container">
    <div class="s-about__inner">
      <div class="s-about__left">
        <div class="s-about__content">
          {{ mixins.textBlock(
            blockLabel = { label: 'ABOUT US', mod: 'text-label--inherit' },
            title = { title: 'We create innovative 
  technological solutions</small>
  for media businesses' },
            text = [
              { text: 'VISION HOUSE INTERNATIONAL builds cutting edge media systems. 
  Our experience, thinking out of the box and strategic approach 
  empower our customers to win in highly competitive media markets.' }
            ],
            button = {
              title: 'more about us',
              mod: 'btn--inherit'
            }
          ) }}

        </div>
      </div>

      <div class="s-about__right">
        <div class="s-about__img-wrap">
          <div class="s-about__img no-animation js-lazy js-anim-el" data-anim-name="fadeInLeftLg" data-background-image="./img/home/02.jpg"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->