{%set
features = [
  {
    icon: 'project-management',
    title: 'Complete solutions',
    text: 'We create TV channels and new media platforms
from scratch and successfully integrate legacy 
infrastructures with future-focused equipment.'
  },
  {
    icon: 'innovation',
    title: 'Avant-garde Technologies',
    text: 'Our systems will serve you well today and tomorrow, 
we carefully choose the best in breed equipment, 
reliable and efficient.'
  },
  {
    icon: 'group',
    title: 'Professional Team',
    text: "Having strong background in broadcasting and systems 
integration, our team understands Customer's needs 
and cares for your business and resources."
  },
  {
    icon: 'fast',
    title: 'Quick Installation',
    text: 'We deploy our systems real fast, provide 
launch support and personnel 
education for every project.'
  },
  {
    icon: 'budget',
    title: 'For any budget',
    text: "From compact smart solutions to giant media 
networks, together with you we'll find the 
perfect solution for your media business."
  }
]
%}

<!-- begin section -->
<section class="section section--gray-lightest pt-mdl pb-lg">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">
        <small>Innovative</small> media Infrastructures
      </h2>
    </div>

    {% include "partials/_features.html" %}
  </div>
</section>
<!-- end section -->