<!-- begin section -->
<section class="section{% if sectionPartners.mod %} {{ sectionPartners.mod }}{% else %} pt-mdl pb-mdl{% endif %}">
  <div class="container">
    <div class="section__title-block">
      {{ mixins.textBlock(
          title = { title: '<small>Our partners</small> around the world' },
          text = [
            { text: "We work with the world's greatest vendors to provide the best
 in breed solutions for our customers", mod: 'text--gray-dark' }
          ]
        ) }}

    </div>

    {% include "partials/_partners.html" %}
  </div>
</section>
<!-- end section -->