<!-- begin section -->
<section class="section pt-mdl pb-mdl">
  <div class="container">
    <div class="section__title-block">
      <div class="text-block">
        <div class="text-block__title">
          <h2 class="title title--h2"><small>Our partners</small> around the world</h2>
        </div>

        <div class="text-block__text text--gray-dark">We work with the world's greatest vendors to provide the best
 in breed solutions for our customers</div>
      </div>
    </div>

    {% include "partials/_partners.html" %}
  </div>
</section>
<!-- end section -->