{%set
defaultSection = {
  mod: 's-solutions pt-mdl pb-lg'
}
%}

{%set
section = sectionSolutions or defaultSection
%}

{%set
links = [
  { icon: 'tv', title: 'TV' },
  { icon: 'trophy', title: 'Sports' },
  { icon: 'share', title: 'New media' }
]
%}

{% extends "layouts/_section-fixed-left.html" %}

{% block left %}
<div class="s-solutions__img no-animation js-lazy js-anim-el" data-anim-name="fadeInRightLg" data-background-image="./img/home/01.jpg"></div>
<div class="s-solutions__link">
  <a href="#" class="link">bROWSE ALL SOLUTIONS</a>
</div>
{% endblock %}

{% block right %}
<div class="s-solutions__right">
  <div class="s-solutions__text-block">
    {{ mixins.textBlock(
      blockLabel = 'SOLUTIONS',
      title = { title: 'Sports' },
      text = [
        { text: 'Big screens, video cubes, lighting, sound, control rooms, 
cameras, replays and cabling for arenas and stadiums. 
Infrastructures for esports' }
      ],
      button = {
        title: 'lEARN MORE',
        mod: ''
      }
    ) }}

  </div>

  <!-- begin solutions-links -->
  <div class="solutions-links js-stagger-wrap">
    {% for i in links %}
    <!-- begin solutions-link -->
    <a href="#" class="solutions-link js-stagger-el">
      <span class="solutions-link__bg js-lazy" data-background-image="./img/home/solutions-01.jpg"></span>
      <span class="solutions-link__content">
        <span class="solutions-link__icon">{{ mixins.icon(i.icon) }}</span>
        <span class="solutions-link__title">{{ i.title | safe }}</span>
      </span>
    </a>
    <!-- end solutions-link -->
    {% endfor %}
  </div>
  <!-- end solutions-links -->
</div>
{% endblock %}