.section
  position: relative
  &__title
    text-align: center
    margin-bottom: 100px
    +xl
      margin-bottom: 80px
    +lg
      margin-bottom: 60px
    +md
      margin-bottom: 40px
    +sm
      margin-bottom: 20px
  &__title-block
    margin-bottom: 50px
    text-align: center
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__btn
    padding-top: 30px
    text-align: center
    +md
      padding-top: 15px
  &__tabs-nav
    margin-bottom: 55px
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
  &__pagination
    margin-top: 60px
    +xl
      margin-top: 40px
    +lg
      margin-top: 30px
    +md
      margin-top: 15px
  &--gray-lightest
    background-color: $gray-lightest
  &--black-light
    background-color: $black-light
  &--bg
    +cover
  &--hero


.section-half-full
  $this: &
  position: relative
  &__left
    position: absolute
    width: 50%
    top: 0
    bottom: 0
    left: 0
    +md
      width: auto
      position: static
  &__right-in
    margin-left: 50%
    +md
      margin-left: 0
  &__left-in
    margin-right: 50%
    +md
      margin-right: 0
  &--right
    #{$this}__left
      position: relative
      // width: 50%
      width: auto
      left: auto
      bottom: auto
      top: auto
    #{$this}__right
      position: absolute
      right: 0
      top: 0
      bottom: 0
      width: 50%
      +md
        width: auto
        position: static

.section-tabs-nav
  text-align: center
  &__btn
    display: inline-block
    text-decoration: underline
    color: $gray-darken
    border: 1px solid transparent
    +tr(color .3s)
    margin-left: 20px
    margin-right: 20px
    padding: .2em 2em
    text-align: center
    margin-bottom: 5px
    +lg
      margin-left: 10px
      margin-right: 10px
    +md
      margin-left: 5px
      margin-right: 5px
    &.is-active
      color: $white
      border-color: currentColor
      text-decoration: none
    +hover
      @extend .section-tabs-nav__btn.is-active
